@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  src: url(../font/Montserrat-Regular.ttf);
  font-family: 'Default';
}

.text-intro {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
}


.text-intro__animated {
  color: white;
  font-family: monospace;
  letter-spacing: 0.3em;
  font-size: 4rem;
  opacity: 0;
  font-family: 'Default';
}

.text-intro__animated.load {
  animation: text .7s forwards;
}


.text-intro__sub-title {
  color: white;
  transform: translateY(-2rem);
  opacity: 0;
  font-family: 'Default';
  animation: subTitle .7s linear .5s  forwards;
}

@keyframes text {
  to {
    opacity: 1;
    letter-spacing: inherit;
  }
}

@keyframes subTitle {
  to {
    opacity: 1;
    transform: translateY(0px)
  }
}
